
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .Button{
      margin-right: -137;
      background: rgb(101, 176, 201);
  }
  /* .carosel_text{
    font-family: 'Coiny', cursive;
    
  } */
  .Caption{
      padding-bottom: 500px;
      color:rgb(93, 94, 68);
      text-align: left;
      margin-left: -100px;

      
  }
  .img_blur{

    
      -webkit-filter: grayscale(1); /* Safari 6.0 - 9.0 */
      filter: grayscale(1);
  }
 
  .H1{
    text-align: center;
    margin-top: 2em;
    padding-top: 2em;
    color: rgb(42, 146, 187);

  }
  .card_size{
    background: whitesmoke;
    height: 20em;
    text-align: center;
    padding-top: 8em;
    color: rgb(41, 130, 172);

    
    
    
  }
  .H6{
    text-align: center;
    margin-bottom:2em;
    margin-top: 1em;
    color :rgb(42, 146, 187);
  }
  .img_card{
    padding-right: 6em;
    padding-left: 6em;
    margin-top: -1em;
}
  .card_size:hover{
    background: rgb(42, 146, 187);
    color:white;
  }
  .img_card:hover{
    background: rgb(42, 146, 187);
  }
  .btn_ser{
    border: 2px solid rgb(41, 130, 172);
   border-radius: 50%;
   padding: 0.5em;
   margin-bottom: 1em;
   background: rgb(64, 137, 167);
   
   


    
  }
  .btn_ser:hover{
    background:  rgb(111, 196, 236);
  
  }
  .h1_SER{
    margin-top: 1em;
    text-align: center;
    color:hsl(199, 62%, 42%);
    padding: 2em;
    font-size: 3em;
    

  }
  .a_ser{
    text-decoration: none;
    color: rgb(24, 78, 104);

  }
  .a_ser:hover{
    color: rgb(64, 137, 167);
  }
 


 }
 .about_us{
   margin-top:6em;

 }
 .Img2{
  width: 30em;
  height: 25em;
  margin-top : 10em;
  ;
 }
 .about_{
   font-size: 1em;
   color: rgb(64, 137, 167);
   font-weight:bold;

 }
 .about_2{
   padding-bottom: -3em;
   border-bottom: 1px solid black;
   padding-top: 4em;
   margin-top: 4em;

 }
 .contact{
   background: lightblue;

 }
 .contact_text{
   font-size: 3em;

   margin-top: 3em;

   
 }
 .form
 {
   margin-top: 1em;
   
   ]
 }
 .Background{
   background-color:  rgb(174, 208, 223);
   margin-top: 5em;
   padding-bottom: 4em;
   
 }
 .img_contact{
   width: 44em;
   height: 36em;
   margin-top: 10em;

 }
 .h_contact{
  text-align: left; 
  color:hsl(203, 56%, 35%);
  margin-top: 1.5em;
  margin-left:2em;
 }
 .btn_contact{
   background:hsl(203, 56%, 35%);
   color: white;
   padding-right:6em;
   border: 1 px solid hsl(203, 56%, 35%);
   border-radius: 0.5em;
   margin-top: 1em;
   text-align: center;
   
 }
 .site-footer
 {
   background-color:#26272b;
   padding:45px 0 20px;
   font-size:15px;
   line-height:24px;
   color:#737373;
 }
 .site-footer hr
 {
   border-top-color:#bbb;
   opacity:0.5
 }
 .site-footer hr.small
 {
   margin:20px 0
 }
 .site-footer h6
 {
   color:#fff;
   font-size:16px;
   text-transform:uppercase;
   margin-top:5px;
   letter-spacing:2px
 }
 .site-footer a
 {
   color:#737373;
 }
 .site-footer a:hover
 {
   color:#3366cc;
   text-decoration:none;
 }
 .footer-links
 {
   padding-left:0;
   list-style:none
 }
 .footer-links li
 {
   display:block
 }
 .footer-links a
 {
   color:#737373
 }
 .footer-links a:active,.footer-links a:focus,.footer-links a:hover
 {
   color:#3366cc;
   text-decoration:none;
 }
 .footer-links.inline li
 {
   display:inline-block
 }
 .site-footer .social-icons
 {
   text-align:right
 }
 .site-footer .social-icons a
 {
   width:40px;
   height:40px;
   line-height:40px;
   margin-left:6px;
   margin-right:0;
   border-radius:100%;
   background-color:#33353d
 }
 .copyright-text
 {
   margin:0
 }
 @media (max-width:991px)
 {
   .site-footer [class^=col-]
   {
     margin-bottom:30px
   }
 }
 @media (max-width:767px)
 {
   .site-footer
   {
     padding-bottom:0
   }
   .site-footer .copyright-text,.site-footer .social-icons
   {
     text-align:center
   }
 }
 .social-icons
 {
   padding-left:0;
   margin-bottom:0;
   list-style:none
 }
 .social-icons li
 {
   display:inline-block;
   margin-bottom:4px
 }
 .social-icons li.title
 {
   margin-right:15px;
   text-transform:uppercase;
   color:#96a2b2;
   font-weight:700;
   font-size:13px
 }
 .social-icons a{
   background-color:#eceeef;
   color:#818a91;
   font-size:16px;
   display:inline-block;
   line-height:44px;
   width:44px;
   height:44px;
   text-align:center;
   margin-right:8px;
   border-radius:100%;
   -webkit-transition:all .2s linear;
   -o-transition:all .2s linear;
   transition:all .2s linear
 }
 .social-icons a:active,.social-icons a:focus,.social-icons a:hover
 {
   color:#fff;
   background-color:#29aafe
 }
 .social-icons.size-sm a
 {
   line-height:34px;
   height:34px;
   width:34px;
   font-size:14px
 }
 .social-icons a.facebook:hover
 {
   background-color:#3b5998
 }
 .social-icons a.twitter:hover
 {
   background-color:#00aced
 }
 .social-icons a.linkedin:hover
 {
   background-color:#007bb6
 }
 .social-icons a.dribbble:hover
 {
   background-color:#ea4c89
 }
 @media (max-width:767px)
 {
   .social-icons li.title
   {
     display:block;
     margin-right:0;
     font-weight:600
   }
 }
 .footer_{
   margin-top: 5em;
   background:rgb(2, 41, 54);
   color: white;
   padding: 7em 4em;
 }
 .contact_{
   margin-left: 4em;
   padding-bottom: 1em;
   color: hsl(203, 56%, 35%)
   
 }
